.container {
    width: 100%;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-6 {
    flex: 1;
    min-width: 300px;
    /* Para que las columnas no se hagan más pequeñas que 300px */
    margin-bottom: 20px;
}

canvas {
    max-width: 100%;
    height: auto !important;
}

@media (max-width: 768px) {
    .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
    }
}